body input {
    width: 50%;
    padding: 2px;
    box-sizing: border-box;
}

#center h1 {
    color: white;
}

#center {
    background: rgb(0, 0, 0);
    border-radius: 25px;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    bottom: 0;
}

#Image {
    width: 25%;
    height: 25%;
    border-radius: 20px;
}

#leftHalf {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("/items/MatchImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

}

#rightHalf {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("/items/PitImage.jpg");
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#Scouting1 {
    margin-top: 5%;
    font-size: 400%;
    color: black;
}

#a4079-1 {
    width: 25%;
    border-radius: 10%;
}

#Scouting,
#Survey {
    color: white;
    height: 100px;
    border-radius: 20px;
    background-color: black;
    margin-left: 25px;
    border: 2px solid rgb(0, 0, 0);
}

#Scouting h1 {
    font-size: 200%;
}

#Survey h1 {
    font-size: 200%;
}

#buttons {
    padding: 20px;
}

.submitbox {
    text-align: center;
    width: 50%;
    height: 50%;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 16px;
    margin: 0 auto;
    display: none;

}

@media screen and (max-width: 1400px) {

    body {
        position: center;
    }

    #center {
        background: rgba(0, 0, 0, 0.75);
        align-items: center;
        border-radius: 10px;
        width: 90%;
        margin: 0 auto;
        background-color: black;
        box-sizing:border-box;
    }

    #Image {
        width: 50%;
        height: 50%;
        border-radius: 20px;
    }

    #buttons {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    #leftHalf {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("/items/MatchImage.webp");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0px;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }

    #rightHalf {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(255, 255, 255)), url("/items/PitsImage.jpg");
        background-repeat: no-repeat;
        margin: 0;
        background-size: cover;
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }

    #Scouting,
    #Survey {
        color: white;
        height: 100px;
        width: 50%;
        border-radius: 20px;
        background-color: black;
        margin: auto;
    }

    #Scouting h1 {
        font-size: 200%;
    }

    #Survey h1 {
        font-size: 150%;
    }
}