body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body input {
    width: 50%;
    padding: 2px;
    box-sizing: border-box;
}

#ScoutingButtons {
    margin-top: 15%;
}

#Match-Scouting,
#Pit-Scouting {
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

#leftHalf {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("/items/MatchImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

}

#rightHalf {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("/items/PitImage.jpg");
    background-position-x: 50%;
    background-repeat: no-repeat;
    margin: 0;
    background-size: cover;
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#rightHalf::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease-in-out;
}

#rightHalf:hover::after {
    background-color: rgba(0, 0, 0, 0.4);
}

#leftHalf::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.2s ease-in-out;
}

#leftHalf:hover::after {
    background-color: rgba(0, 0, 0, 0.4);
}

#Pit-Scouting {
    font-size: 150px;
    font-family: "Arial";
    font-weight: bold;
    color: white;
}

#Match-Scouting {
    font-size: 150px;
    font-family: "Arial";
    font-weight: bold;
    color: white
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
}

.fade-out {
    animation: fadeOut 0.5s linear forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fade-in {
    animation: fadeIn 0.5s linear forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

[data-animate] {
    animation-name: slide-up;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes slide-up {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


@media screen and (min-width :1400px) {
    #leftHalf {
        width: 50%;
        height: 100%;
        top: 0px
    }

    #rightHalf {
        width: 50%;
        height: 100%;
        bottom: auto
    }

    #goBackButton {
        z-index: 1000;
        display: inline-block;
        align-self: center;
        position: absolute;
        top: 90%;
        bottom: 3%;
        right: 0;
        left: 0;
        margin: auto;
        width: 25%;
        height: 10%;
        background-color: transparent;
        border-color: white;
        color: white;
        font-size: 300%;
        border-radius: 20px;
    }
}

/* Mobile Support */

@media screen and (max-width :1400px) {

    #leftHalf {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("/items/MatchImage.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 50%;
        position: absolute;
        left: 0px;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;

    }

    #rightHalf {
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("/items/PitImage.jpg");
        background-repeat: no-repeat;
        margin: 0;
        background-size: cover;
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: -1;
    }


    #Pit-Scouting {
        font-size: 50px
    }

    #Match-Scouting {
        font-size: 50px
    }

    #goBackButton {
        z-index: 1000;
        display: inline-block;
        align-self: center;
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 0;
        left: 0;
        margin: auto;
        width: fit-content + 2% left + 2% right;
        height: 10%;
        background-color: transparent;
        border-color: white;
        color: white;
        font-size: 300%;
        border-radius: 20px;
    }
}