#Scouting1 {
    margin-top: 5%;
    font-size: 500%;
    color:black;
}
#a4079-1 {
    width:25%;
}
.buttonchoose {
    width:20%;
    height: 100px;
    border-radius: 5%;
}
#buttons {
    padding: 20px;
}