body {
    background: url("/items/PitsImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

#center {
    background: rgba(0, 0, 0, 0.75);
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    width: 40%;
    margin: 0 auto;
}

#center h1 {
    color: white;
}

#PictureRobotInput {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#Image {
    width: 15%;
    height: 15%;
    border-radius: 10px;
}

#Pit-Scouting {
    font-size: 500%;
}

#SubmitYes,
#SubmitNo {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-color: black;
    border-width: 10px;
    box-sizing: border-box;
    font-size: 1000%;
}

.submitbox {
    text-align: center;
    width: 50%;
    height: 50%;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 5px;
    display: none;
}

#SubmitButton, #Back {
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#SubmitCheck {
    color: black;
}

@media screen and (max-width: 600px) {
    body {
        position: center;
    }

    #Image {
        width: 100%;
        height: 100%;
    }

    .submitbox {
        font-size: 30%;
        width: 100%;
        height: 100%;
    }
}
    